@model Spotify_clone2.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<img src="~/img/SL_123119_26540_09.jpg" style="width: 100%;position: absolute;object-fit: cover;height: 60%;">
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto"
    style="min-height: 60%;padding-right:87rem!important;background: transparent;">
    <div class="card card0 border-0">
        <div class="row d-flex">

            <div class="col-lg-10">
                <div class="card2 card border-0 px-4 py-5" style="margin-top: 10%;">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row px-3">
                            <label asp-for="Username" class="mb-0 text-sm"></label>
                            <input asp-for="Username" class="mb-4" class="mb-4" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="row px-3">
                            <label asp-for="Password" class="mb-0 text-sm"></label>
                            <input asp-for="Password" class="mb-4" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input asp-for="RememberMe" id="chk1" type="checkbox" name="chk"
                                    class="custom-control-input">
                                <label class="custom-control-label text-sm" asp-for="RememberMe">@Html.DisplayNameFor(m
                                    =>
                                    m.RememberMe)</label>

                            </div>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit"
                                class="btn btn-blue text-center">Login</button></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
