@{
    ViewData["Title"] = "Premuim Page";
}
<section class="subscription-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sub-text">
                    <h2>Subscription from $15/month</h2>
                    <h3>Start a free trial now</h3>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                        facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="site-btn">Try it now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="sub-list">
                    <li><img src="~/img/icons/check-icon.png" alt="">Play any track</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">Listen offline</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">No ad interruptions</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">Unlimited skips</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">High quality audio</li>
                    <li><img src="~/img/icons/check-icon.png" alt="">Shuffle play</li>
                </ul>
            </div>
        </div>
    </div>
</section>