@model Spotify_clone2.ViewModels.DashbordIndexViewModel;

@{
  ViewData["Title"] = "Create";
  Layout = "~/Views/Shared/_Dashbord.cshtml";

}
@section Style{
<link rel="stylesheet" href="~/css/dashbord.css">
}

<section class="content">

  <div class="content__left">

    <section class="navigation">


      <!-- Your Music -->
      <div class="navigation__list">

        <div class="navigation__list__header" role="button" data-toggle="collapse" href="#yourMusic"
          aria-expanded="true" aria-controls="yourMusic">
          Your Music
        </div>

        <div class="collapse in" id="yourMusic">

          <a href="#" class="navigation__list__item">
            <i class="ion-headphone"></i>
            <span>Songs</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Albums</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-person"></i>
            <span>Artists</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-document"></i>
            <span>Local Files</span>
          </a>

        </div>

      </div>
      <!-- / -->

      <!-- Playlists -->
      <div class="navigation__list">

        <div class="navigation__list__header" role="button" data-toggle="collapse" href="#playlists"
          aria-expanded="true" aria-controls="playlists">
          Playlists
        </div>

        <div class="collapse in" id="playlists">

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Doo Wop</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Pop Classics</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Love $ongs</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Hipster</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>New Music Friday</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Techno Poppers</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Summer Soothers</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Hard Rap</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Pop Rap</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>5 Stars</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Dope Dancin</span>
          </a>

          <a href="#" class="navigation__list__item">
            <i class="ion-ios-musical-notes"></i>
            <span>Sleep</span>
          </a>

        </div>

      </div>
      <!-- / -->

    </section>

    <section class="playlist">

      <a href="#">

        <i class="ion-ios-plus-outline"></i>

        New Playlist

      </a>

    </section>

    <section class="playing">

      <div class="playing__art">

        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/cputh.jpg" alt="Album Art" />

      </div>

      <div class="playing__song">

        <a class="playing__song__name">Some Type of Love</a>

        <a class="playing__song__artist">Charlie Puth</a>

      </div>

      <div class="playing__add">

        <i class="ion-checkmark"></i>

      </div>

    </section>

  </div>

  <div class="container content__middle" style="padding-top: 50px;">
    <section class="songs-section">
      <div class="row">
        <div class="col-md-3">
          <!-- song -->
          @foreach (var song in @Model.mostLikesSongs)
          {   
          <div class="music-card__wrapper">
            <div class="music-card">
              <div class="music-card__content" style="padding-bottom: 38px;">
                <img class="music-image" src="~/img/songCover/@song.songCover" alt="">
                <div class="music-info">
                  <h2 class="music-name">@song.nomSong</h2>
                  <p class="music-artist">@song.artiste.user.Nom</p>
                </div>
                <div class="single_player_container">
                  <div class="single_player">
                    <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url='@Url.Content("~/Song/@song.songPath")'>
                    </div>
                    <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                      <div class="jp-gui jp-interface">
                        <!-- Player Controls -->
                        <div class="player_controls_box">
                          <button class="jp-prev player_button" tabindex="0"></button>
                          <button class="jp-play player_button" tabindex="0"></button>
                          <button class="jp-next player_button" tabindex="0"></button>
                          <button class="jp-stop player_button" tabindex="0"></button>
                        </div>
                      </div>
                      <!-- Progress Bar -->
                      <div class="player_bars" style="width: calc(100% - 19px);">
                        <div class="jp-progress">
                          <div class="jp-seek-bar">
                            <div>
                              <div class="jp-play-bar">
                                <div class="jp-current-time" style="background: #4c4c4c;padding:0px;" role="timer"
                                  aria-label="time">0:00
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                      </div>
                      <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or
                        update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash
                          plugin</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
  </div>
</section>
</section>

<section class="content"></section>
@section Scripts
{
<!-- Audio Player and Initialization -->
<script src="~/js/jquery.jplayer.min.js"></script>
<script src="~/js/jplayerInit.js"></script>
}