
@{
    ViewData["Title"] = "Index";
}

<!-- Category section -->
<section class="category-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Live Concert Playlist</h2>
        </div>
        <div class="container">
            <div class="category-links">
                <a href="" class="active">Genres</a>
                <a href="">Artists</a>
                <a href="">All Playlist</a>
            </div>
        </div>
        <div class="category-items">
            <div class="row">
                <div class="col-md-4">
                    <div class="category-item">
                        <img src="img/playlist/9.jpg" alt="">
                        <div class="ci-text">
                            <h4>Micke Smith</h4>
                            <p>Live from Madrid</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-item">
                        <img src="img/playlist/2.jpg" alt="">
                        <div class="ci-text">
                            <h4>Micke Smith</h4>
                            <p>Live from Madrid</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-item">
                        <img src="img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h4>Micke Smith</h4>
                            <p>Live from Madrid</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
