@model Spotify_clone2.Models.Song

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SongId" />
            <div class="form-group">
                <label asp-for="nomSong" class="control-label"></label>
                <input asp-for="nomSong" class="form-control" />
                <span asp-validation-for="nomSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group"
                <label asp-for="category" class="control-label"></label>
                <select asp-for="category" asp-items="Html.GetEnumSelectList(typeof (Category))"></select>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="likes" class="control-label"></label>
                <input asp-for="likes" class="form-control" />
                <span asp-validation-for="likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="views" class="control-label"></label>
                <input asp-for="views" class="form-control" />
                <span asp-validation-for="views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

