@{
	ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
	<!-- Hero section -->
	<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="hs-text">
							<h2><span>Music</span> for everyone.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Download Now</a>
							<a href="#" class="site-btn sb-c2">Start free trial</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="hr-img">
							<img src="~/img/hero-bg.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hs-item">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="hs-text">
							<h2><span>Listen </span> to new music.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Download Now</a>
							<a href="#" class="site-btn sb-c2">Start free trial</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="hr-img">
							<img src="~/img/hero-bg.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- Concept section -->
	<section class="concept-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title">
					<h2>Our Concept & artists</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
					ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="concept-item">
					<img src="img/concept/1.jpg" alt="">
					<h5>Soul Music</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="concept-item">
					<img src="img/concept/2.jpg" alt="">
					<h5>Live Concerts</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="concept-item">
					<img src="img/concept/3.jpg" alt="">
					<h5>Dj Sets</h5>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="concept-item">
					<img src="img/concept/4.jpg" alt="">
					<h5>Live Streems</h5>
				</div>
			</div>
		</div>
	</div>
</section> <!-- Concept section end -->
}
else
{
	<!-- Intro section -->
	<section class="bIHSwp hHufoi ljDxYi">
	<article class="big-intro ipCjpM bIHSwp">
		<header class="JhijG">
			<div class="cmKgZi">
				<div>
					<h2 class="ckYsIr eJVJbS">Passez à Premium. Faites-vous plaisir.</h2>
				</div>
			</div>
			<a href="#" class="kNMnkF bIHSwp">
				<div class=" ButtonLegacy__ButtonLegacyInner-o653de-0 bJfOgr iNRzte">
					<span>Essayez-le maintenant !</span>
				</div>
				<div class="ButtonFocus-sc-2hq6ey-0 cIUEfL"></div>
			</a>

			<footer class="fTLLNh">
				<p class="eNpfYQ gdCoUB">
					* Offre soumise aux Conditions générales. Réservée aux utilisateurs n'ayant jamais essayé Premium.
				</p>
			</footer>
		</header>
	</article>
</section>
	<section class="jSIoOu bFCFbb">
	<article color="#1ed760" class="YKUuT">
		<div class="section-title">
			<h2>Envie de musique ?</h2>
			<br>
			<h6>Écoutez le meilleur des dernières sorties.</h6>
			<br>
			<a href="#" class="site-btn sb-c6">Ouvrir le lecteur web</a>
		</div>
	</article>
</section>

}
<!-- Intro section end -->
