@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Spotify_clone2.Repositories.IClientRepository clientRepository
@{
    ViewData["Title"] = "Home Page";
    string currentUserId = UserManager.GetUserId(HttpContextAccessor.HttpContext.User);
    var currentUser = await UserManager.FindByIdAsync(currentUserId);
    var currentClient = await clientRepository.GetByUserIdAsync(currentUserId);
    
}

@if (!User.Identity.IsAuthenticated)
{
    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>Listen </span> to new music.</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                </p>
                                @Html.ActionLink("Try now", "index", "GateWayForAccounts", null, new { @class = "site-btn sb-c2" })

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <img src="~/img/hero-bg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Concept section -->
    <section class="concept-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Our Concept & artists</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                        ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="img/concept/1.jpg" alt="">
                        <h5>Soul Music</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="img/concept/2.jpg" alt="">
                        <h5>Live Concerts</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="img/concept/3.jpg" alt="">
                        <h5>Dj Sets</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="img/concept/4.jpg" alt="">
                        <h5>Live Streems</h5>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- Concept section end -->

}
else
{
    @if (currentClient.CustomerId == null)
    {


        <!-- Intro section -->


        <section class="bIHSwp hHufoi ljDxYi">
            <article class="big-intro ipCjpM bIHSwp">
                <header class="JhijG">
                    <div class="cmKgZi">
                        <div>
                            <h2 class="ckYsIr passPrem">Passez à Premium. Faites-vous plaisir.</h2>
                        </div>
                    </div>
                    <a href="#" class="kNMnkF bIHSwp">
                        <div class=" ButtonLegacy__ButtonLegacyInner-o653de-0 bJfOgr iNRzte">
                            <span>Essayez-le maintenant !</span>
                        </div>
                        <div class="ButtonFocus-sc-2hq6ey-0 cIUEfL"></div>
                    </a>

                    <footer class="fTLLNh">
                        <p class="eNpfYQ gdCoUB">
                            * Offre soumise aux Conditions générales. Réservée aux utilisateurs n'ayant jamais essayé Premium.
                        </p>
                    </footer>
                </header>
            </article>
        </section>


        <section class="jSIoOu bFCFbb">
            <article color="#1ed760" class="YKUuT">
                <div class="cILGdH">
                    <h1 class="eJVJbS kvHAyu">Envie de musique ?</h1>
                    <h2 class="biCrdv eJVJbS">Écoutez le meilleur des dernières sorties.</h2>
                    <div class="iEwfBs">
                        <a href="#" class="kNMnkF iNRzte">
                            <div class="fevbWz">Ouvrir le lecteur web</div>
                        </a>
                    </div>
                </div>
            </article>
        </section>
    }
    else {
<section class="jSIoOu bFCFbb">
    <article color="#aabc31" class="YKUuT">
        <div class="cILGdH">
            <h1 class="eJVJbS kvHAyu">Thank you for being premium member</h1>
            <h2 class="biCrdv eJVJbS">Enjoy your life bro.</h2>
            <div class="iEwfBs">
                <a href="#" class="kNMnkF iNRzte">
                    @Html.ActionLink("Open web player", "index", "WebPlayer", null, new { @class = "fevbWz" })

                </a>
            </div>
        </div>
    </article>
</section>
    }
}
<!-- Intro section end -->
