@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_RGateway.cshtml";
}
<img src="~/img/pexels-daniel-reche-3721941.jpg" style="width: 100%;position: absolute;object-fit: cover;height: 60%;">
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto"
    style="min-height: 60%;padding-right:40rem!important;padding-left:40rem!important;padding-top: 15rem!important;background: transparent;">
    <div class="card  border-0" style="background: transparent;">
        <div class="row" style="padding: 10px;justify-content: center;">
            <div class="col-sm-4 py-2">
                <div class="card h-100" style="background: transparent;">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #c14b8a;">Casual</h3>
                        @Html.ActionLink("Signup as Casual", "register", "Account", null, new { @class="btn btn-outline-secondary"})
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2">
                <div class="card h-100 " style="background: transparent;">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #c14b8a;">Artist</h3>
                        @Html.ActionLink("Signup as Artist", "register", "Artist", null, new { @class="btn btn-outline-secondary"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
